@import "common/common-style.scss";

html, body {
    margin: 0;
    padding: 0;
}

.menu {
    flex-flow: column;

    &>* {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 600px) {
    .menu {
        flex-flow: row;
    }
}