$size: 48px;

fa {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    line-height: $size;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 9999;
    background: #1c3e79;

    &:hover {
        background: #244a8d;
    }

    &:active {
        background: #2f5ca8;
    }
}

.flex {
    width: 100%;
    margin-left: -48px;
}

.top-bar, .small, .large {
    height: $size;
    width: 100%;
    font-variant: small-caps;
}

.top-bar {
    background: #2b57a1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
}

.title {
    color: white;
}

.small {
    display: flex;
}

.medium, .large {
    display: none;
}

@media only screen and (min-width: 800px) {
    .top-bar {
        background: white;
    }

    .small {
        display: none;
    }

    .large {
        display: flex;

        & > .filler{
            flex-grow: 1;
        }
    }

    .self-aligned {
        justify-content: space-between;
        align-content: space-between;
    }

    .nav-button {
        height: $size;
        line-height: $size;
        width: 150px;
        text-align: center;
        cursor: pointer;
    
        background: white;
    
        &:hover {
            background: #f4f4f4;
        }
    
        &:active {
            background: #eaeaea;
        }
    
        &.active {
            color: white;
            background: #2b57a1;

            &:hover {
                background: #3262b6;
            }
        }
    }
    
    .separator {
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .filler {
        background: white;
        height: $size;
    }
}

@media only screen and (min-width: 1000px) {
    .self-aligned {
        width: 100%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .medium {
        display: block;
    }
}

@media only screen and (min-width: 1500px) {
    .self-aligned {
        width: 70%;
        margin: 0;
    }

    .header {
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 10px;
    }
}