<div class="top-bar">
  <div class="flex horizontal small">
    <div class="hamburger">[+]</div>
    <div class="title">
      {{title}}
    </div>
  </div>

  <div class="flex horizontal large">
    <div class="flex horizontal middle self-aligned">
      <div class="header medium">
        <b>Martinocom's</b>
      </div>

      <div class="flex horizontal">
        <div class="nav-button" routerLink="/index" routerLinkActive="active">Home</div>
        <div class="nav-button" routerLink="/ingress" routerLinkActive="active">Ingress</div>
        <div class="nav-button" routerLink="/ziopixel" routerLinkActive="active">Verità ZioPixel</div>
        <div class="nav-button" routerLink="/universita" routerLinkActive="active">Università</div>
        <div class="nav-button" routerLink="/banane" routerLinkActive="active">Banane</div>
      </div>
    </div>
  </div>
</div>