$size: 48px;

fa {
    width: $size;
    height: $size;
    min-width: $size;
    min-height: $size;
    line-height: $size;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 9999;
    background: #1c3e79;

    &:hover {
        background: #244a8d;
    }

    &:active {
        background: #2f5ca8;
    }
}

.flex {
    width: 100%;
}

.menu {
    position: fixed;
    margin-top: -15px;
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    overflow-y: hidden;
	max-height: 500px;

    transition-property: all;
	transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    
    &.closed {
        max-height: 0;
    }
}

.nav-button {
    height: $size;
    line-height: $size;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;

    background: white;

    &:hover {
        background: #f4f4f4;
    }

    &:active {
        background: #eaeaea;
    }

    &.active {
        display: none;
    }
}

.top-bar, .small, .large {
    height: $size;
    width: 100%;
    font-variant: small-caps;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    background: #2b57a1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.title {
    justify-content: flex-start;
    margin-left: 25px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.small {
    display: flex;
}

.medium, .large {
    display: none;
}

@media only screen and (min-width: 800px) {
    .flex {
        width: auto;
    }

    .top-bar {
        background: white;
    }
    
    .menu {
        display: none;
    }

    .small {
        display: none;
    }

    .large {
        display: flex;

        & > .filler{
            flex-grow: 1;
        }
    }

    .self-aligned {
        justify-content: space-between;
        align-content: space-between;
    }

    .nav-button {
        height: $size;
        line-height: $size;
        width: 150px;
        text-align: center;
        cursor: pointer;
        border: none;
    
        background: white;
    
        &:hover {
            background: #f4f4f4;
        }
    
        &.active {
            display: inline-block;
            color: white;
            background: #2b57a1;

            &:hover {
                background: #3262b6;
            }
        }
    }
    
    .separator {
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .filler {
        background: white;
        height: $size;
    }
}

@media only screen and (min-width: 1000px) {
    .self-aligned {
        width: 100%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .medium {
        display: block;
    }
}

@media only screen and (min-width: 1500px) {
    .self-aligned {
        width: 70%;
        margin: 0;
    }

    .header {
        font-size: 1.3em;
        padding-left: 10px;
        padding-right: 10px;
    }
}