$size: 48px;

.small, .large {
    height: $size;
    width: 100%;
}

.small {
    display: flex;
    background: white;
}

.large {
    display: none;
}

@media only screen and (min-width: 770px) {
    .small {
        display: none;
    }
    
    .large {
        display: flex;

        & > .filler{
            flex-grow: 1;
        }
    }

    .nav-button {
        height: $size;
        line-height: $size;
        width: 150px;
        text-align: center;
        cursor: pointer;
    
        background: white;
    
        &:hover {
            background: #f4f4f4;
        }
    
        &:active {
            background: #ececec;
        }
    
        &.active {
            color: white;
            background: transparent;

            &:hover {
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
    
    .separator {
        padding-right: 2px;
        padding-left: 2px;
    }
    
    .filler {
        background: white;
        height: $size;
    }
}