@import '../../styles/values';

.quick-buttons {
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    & > * {
        margin: 5px;
        width: 95%;
    }
}

a {
    display: inline-block;
    margin-bottom: 15px;

    &.no-margin {
        margin: 0px;
    }
}

@media only screen and (min-width: $very-small-screen) {
    .quick-buttons {
        flex-flow: row;
        flex-wrap: wrap;

        & > * {
            width: 30%;
            max-width: 300px;
        }
    }
}

@media only screen and (min-width: $small-screen) {

    .quick-buttons {
        margin-bottom: 10px;
    }
}