<app-navigator title="Ingress"></app-navigator>
<div class="page-container">
  <h3>
    Ingress
  </h3>

  <div class="box">
    <h4>
      Nota bene!
    </h4>

    <p>
      Questa guida non è aggiornata con tutte le novità, ma rimane una buona base di partenza.
    </p>
  </div>

  <div class="box">
    <h4>
      Intro
    </h4>
    <p>
      Le sezioni trattate in questa pagina sono
      <strong><a href="#Oggetti">OGGETTI</a></strong>,
      <strong><a href="#Mod">MOD</a></strong>,
      <strong><a href="#Azioni">AZIONI</a></strong> e
      <strong><a href="#Consigli">CONSIGLI</a></strong>.
      <br> E comunque ricorda... questo è un gioco: <strong>divertiti!</strong>
    </p>

    <p>
      Una guida completa, ben fatta, con immagini ecc... la puoi trovare
      <strong><a href="http://goo.gl/v9OSbr">[QUI] (Smurfing Lessons)</a></strong>
    </p>
  </div>

  <div class="box">
    <h4>
      Il gioco
    </h4>

    <p>
      Ingress è un gioco di realtà aumentata, sviluppato da Niantic (collegata in qualche modo alla Google). E' uno dei
      pochi giochi
      basati su GPS realmente fatti bene, anche se su questo "bene" c'è veramente da discutere. Sì, non hai letto male:
      per
      giocare a Ingress ti devi alzare dal tuo comodo divano e uscire di casa. Devi conquistare posti strategici, per
      far
      vincere la tua squadra (Resistenza, spero).
    </p>

    <p>
      Hai scaricato Ingress? Benissimo. Il tuo telefono ora è diventato uno scanner, ufficialmente correlato con
      Ingress. Attraverso
      il tuo cellulare agirai in questo nuovo mondo di realtà aumentata. Nello scanner potrai interagire tra varie
      schermate
      di gioco. La prima sarà ovviamente la mappa, dove potrai vedere tutto il mondo che ti circonda. Da li potrai
      interagire
      con tutto.
    </p>

    <img src="../../../assets/images/ingress-screen.png" /><br /> Dal menù puoi accedere a varie schede:

    <ul class="divided">
      <li class="flex horizontal start-aligned">
        <div>inventory</div> In parole semplici, il tuo inventario. Qui vedrai tutti gli oggetti da te posseduti.
      </li>
      <li class="flex horizontal start-aligned">
        <div>agent</div> Il tuo profilo; verrai a conoscenza delle statistiche e medaglie ottenute durante il gioco.
      </li>
      <li class="flex horizontal start-aligned">
        <div>intel</div> Schermata che riassume i punteggi globali e regionali (quindi, di una cella). Utile per vedere
        chi
        sta vincendo attualmente, cioè, chi ha piu "Mind Unit" (MU) catturate.
      </li>
      <li class="flex horizontal start-aligned">
        <div>missions</div> Permette di accedere alle missioni più vicine disponibili. Le missioni sono belle da fare,
        ma
        non portano alcun vantaggio nel gioco.
      </li>
      <li class="flex horizontal start-aligned">
        <div>training</div> Un piccolo tutorial. Sinceramente, non spiega molto.
      </li>
      <li class="flex horizontal start-aligned">
        <div>recruit</div> Scheda che ignoro altamente; permette di inviare SPAM ai tuoi amici per invitarli a giocare
        a
        Ingress (a sto punto diglielo a voce, no?)
      </li>
      <li class="flex horizontal start-aligned">
        <div>community</div> Scheda che ignoro altamente; permette di accedere a varie pagine connesse a Ingress, quali
        G+,
        Facebook ecc...
      </li>
      <li class="flex horizontal start-aligned">
        <div>passcode</div> Ogni tanto su internet/chat girano dei "Passcode": codici che, inseriti in quella scheda,
        permettono
        di ottenere alcuni oggetti gratis.
      </li>
      <li class="flex horizontal start-aligned">
        <div>device</div> Sono le impostazioni del gioco.
      </li>
    </ul>
  </div>

  <div class="box">
    <h4 id="Oggetti">
      Oggetti
    </h4>

    <p>
      Quasi tutti gli oggetti dei gioco variano dal livello 1 al livello 8. Ovviamente, più sale di livello, più è
      potente. Alcuni
      oggetti non hanno un livello. Avranno quindi un indicatore di "rarità": COMMON (comune), RARE (raro) e VERY RARE
      (molto
      raro).
    </p>

    <ul class="divided">
      <li class="flex horizontal start-aligned">
        <div>Resonator</div> Cariche, che matengono attivo un portale. Più è alto il livello, più carica hanno.
      </li>

      <li class="flex horizontal start-aligned">
        <div>XMP</div> Bombe, la cui onda d'urto si propaga in cerchio. Più è alto il livello, maggiore è il danno e il
        raggio.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Ultra Strike</div> Bombe di precisione, di cortissimo raggio ma concentrata potenza. Servono più che altro
        per
        spaccare scudi/mod o resonator, quando qualcuno dall'altra parte ricarica.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Power Cubes</div> Quando sei a corto di XM, usa pure un cubo per ricaricarti. Un cubo speciale chiamato
        LAWRSON
        permette di triplicare la tua barra di XM: è un oggetto raro, quindi usalo solo in caso di necessità.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Portal Key</div> Chiave di un portale. Essenziale e preziosa in alcuni casi, inutile in altri.
      </li>

      <li class="flex horizontal start-aligned">
        <div>ADA Refactor</div> Virus, oggetto molto raro nel gioco. Usando un ADA su un portale verde, esso diventa
        automaticamente
        BLU, mantenendo tutte le mod/resonator intatti, e mettendo il tuo nome sul portale. I link/field connessi si
        rompono,
        ma non danno esperienza.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Jarvis Virus</div> Virus, oggetto molto raro nel gioco. Usando un JARVIS su un portale blu, esso diventa
        automaticamente
        VERDE, mantenendo tutte le mod/resonator intatti, e mettendo il nome __JARVIS__ sul portale. I link/field
        connessi
        si rompono.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Capsule</div> Utili per contenere chiavi e oggetti. Non incrementano la capacità dell'inventario; è solo
        un
        modo per organizzarlo. Avendo una chiave dentro la capsula puoi pescarne un altra da un portale, dopo un hack.
        Non
        puoi infatti prendere un'altra chiave di un portale, se ne hai già una nell'inventario: o la butti per terra, o
        nella
        capsula.
      </li>

      <li class="flex horizontal start-aligned">
        <div>MUFG Capsule</div> Variante della capsula stessa, permette di contenere 100 oggetti e di moltiplicarli
        dopo
        un certo periodo di tempo. Basta avere spazio a sufficienza sia per non superare la capacità sia l'inventario,
        sia
        della capsula stessa (viene consigliato di tenere 90 oggetti nella capsula e avere spazio libero in inventario,
        generalmente).
      </li>
    </ul>
  </div>


  <div class="box">
    <h4 id="Mod">
      Mods
    </h4>

    <p>
      Mod sono particolari item che permettono di aumentare delle capacità di un portale. Possono essere di diversa
      "rarità".
    </p>

    <ul class="divided">
      <li class="flex horizontal start-aligned">
        <div>Shield</div> Aumenta la resistenza dei resonator agli attacchi. Può essere common, rare, very rare e AXA.
        Non
        ha senso mettere scudi very rare/AXA sui portali di livello basso.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Turret</div> Aumenta la frequenza con cui il portale contrattacca il nemico, in caso di attacco. Di solito
        ne
        metti uno al portale, accompagnato da uno scudo. Esisono solo turret RARE.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Force Amp</div> Amplifica la potenza del contrattacco del portale. Di solito ne metti uno al portale,
        accompagnato
        da uno scudo o da una torretta. Esisono solo force amp RARE.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Multihack</div> Incrementa di un tot i possibili hack effettuabili sul portale. Può essere common, rare,
        very
        rare, ed è inutile specificare che i rare e very rare bisogna tenerli stretti..
      </li>

      <li class="flex horizontal start-aligned">
        <div>Heat Sink</div> Diminiuisce il tempo di attesa tra un hack e l'altro. Può essere common, rare, very rare,
        ed
        è inutile specificare che i rare e very rare bisogna tenerli stretti.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Link Amp</div> Aumenta il raggio del link che puoi fare da un portale. Vengono usati perlopiù come "mod
        spazzatura"
        o per il conteggio della medaglia relativa alle mod.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Ultralink</div> Aumenta di +8 la capacità di link in uscita da un portale (ognuno di esso fa +8, quindi
        mettendo
        4 ultralink avrai (8 * 4) link in uscita in più)
      </li>

    </ul>
  </div>

  <div class="box">
    <h4 id="Azioni">
      Azioni
    </h4>

    <ul class="divided">
      <li class="flex horizontal start-aligned">
        <div>Hack</div>
        <span>
          Azione quasi principale del gioco. Un hack lo puoi fare su qualsiasi portale, bianco (neutro), verde
          (nemico), blu (nostro).
          Un portale blu ti darà più oggetti (item) degli altri. Puoi hackerare un portale 4 volte, facendo un hack
          ogni
          5 minuti. Tip: tenendo premuto il tasto "HACK" ti apparirà un gioco memory (Glyph Game). Se riuscirai a fare
          bene
          la sequenza ti verrà dato un bonus di item. Puoi aiutarti imparandoli con varie applicazioni presenti sullo
          Play
          Store, oppure usare Glyph Predict.
          <section>
            Ogni hack sul portale nemico ti dà un tot di esperienza. Facendo il gioco dei GLYPH puoi ottenere da 0 a
            430AP, a seconda
            della quantità dei glyph e velocità di esecuzione.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Deploy</div>
        <span>
          Serve per conquistare un portale. Una volta che il portale è neutro è automaticamente conquistabile da te (o
          da altri). Il
          deploy si fa sempre (si cerca di...) a "massimo raggio", ovvero devi stare il più lontano dal portale per
          mettere
          lontani i resonator (cariche che mantengono su il portale). Il livello del portale è una media del livello
          dei
          resonator. Su un portale puoi mettere:
          <ul class="internal">
            <li>8x L1 Resonators</li>
            <li>4x L1, L2, L3, L4 Resonators</li>
            <li>2x L5, L6 Resonators</li>
            <li>1x L7, L8 Resonators </li>
          </ul>

          <section>
            Ai deploy del primo risonatore ricevi 500AP. Ai deploy successivi: 125AP. All'ultimo deploy: 250AP. Quando
            uppi il risonatore
            di qualcun'altro: 75AP.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Modding</div>
        <span>
          Puoi mettere al massimo due mod a portale (descritte di seguito), che aumentano determinate capacità di un
          portale.
          <section>
            Ad ogni mod deployata ricevi 125AP.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Attack</div>
        <span>
          Ai livelli bassi non è facile distruggere un portale. Le bombe minori di livello 4 fanno quasi sempre il
          solletico ai portali,
          quindi, per ora, non attaccare. Quando salirai di livello usa le tue bombe per spaccare mod/resonator nemici.
          Ricordati
          del raggio di azione delle bombe! <br />
          <b>Tip:</b> tieni premuto il tasto "FIRE" mentre spari, caricherà la bomba, dandoti un +20% di attacco!
          <section>
            Alla distruzione di un resonator nemico ricevi 75AP. Alla distruzione del link 187AP. Alla distruzione del
            field 750AP.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Recharge</div>
        <span>
          Il portale si scarica di un tot al giorno, per cui bisogna ricaricarlo. O sei li nel raggio di azione, e lo
          ricarichi, o
          hai la sua chiave, che hai ottenuto grazie ad un hack e lo fai a distanza. Tip: tenendo premuto il tasto
          "RECHARGE
          farai una mega carica al portale, consumando tanta energia quanta serve al portale (o effettivamente, quanta
          ne
          riesce ad assorbire dalla tua riserva).
          <section>
            Ogni ricarica ti dà 10AP.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Link</div>
        <span>
          Cosa fondamentale. Avendo la chiave del portale A, e trovandosi nel raggio del portale B puoi unire i due
          portali facendo
          un link, consumando la chiave. I due portali devono avere 8 resonator deployati. Il link non può incrociare
          altri
          link/field ma può passare sopra altri portali.
          <section>
            Ogni link creato ti dà 313AP.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Field</div>
        <span>
          Cosa fondamentale. Il punteggio globale si basa sulle MU (mind unit) catturate. Il field più è grande, più MU
          contiene. Per
          creare un field devi unire 3 portali a forma di triangolo (solo e soltanto triangoli). Un field, come il
          link,
          ti dà sempre la stessa esperienza; sia che lo fai nel centro di Rimini, sia se copri l'intera Italia.
          <section>
            Ogni field creato ti dà 1250AP.
          </section>
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>COMM</div>
        <span>
          Non da sottovalutare. In "ALL" c'è tutto: fazione verde, fazione blu, azioni della tua regione.<br /> In
          "FACTION"
          le cose relative alla tua fazione. Per scrivere ai resistenti usa comunque TELEGRAM, programma leggero,
          gratuito,
          open soruce, disponibile per Web, Pc, cellulare e quant'altro. Molto utile e ben fatto; è creato per essere
          usanto
          con Ingress.<br /> In "ALERTS" le notifiche.
        </span>
      </li>

      <li class="flex horizontal start-aligned">
        <div>Intel Map</div>
        <span>
          Mappa dalla quale seguire le azioni. E' lenta dal cellulare e poco reattiva dal Pc: ma abbiamo solo questa,
          usiamola: <a href="https://intel.ingress.com/">[LINK]</a>.
        </span>
      </li>
    </ul>
  </div>

  <div class="box">
    <h4 id="Consigli">
      Consigli
    </h4>

    <p>
      All'inizio cerca di conquistare qualsiasi portale neutro che vedi. Prendi tutto, al volo; e mi raccomando:
      <br />
      <b>DEPLOYA BENE A MASSIMO RAGGIO!</b>
    </p>
    <p>
      Hackera tutto: verde o blu! Non hackerare neutri: prima conquistali; e quando puoi fai il gioco dei
      <b>GLYPH</b>: ti dà anch'esso esperienza!
    </p>

    <p>
      Un full-deploy del portale (8 risonatori messi) dà la stessa esperienza di un field creato (più o meno): deploya
      tutto e
      linka!

    </p>
    <p>
      Non importa se copri con un field l'intera europa o il giardino di casa tua. Riceverai la stessa esperienza, per
      cui fielda
      TANTO e CORTO: non tirare sciabolate che tagliano in due tutta Rimini, o che vanno da Rimini a Venezia!
    </p>
  </div>
</div>