<app-navigator title="Ingress"></app-navigator>
<div class="page-container">
  <h3>
    Ingress
  </h3>

  <div class="box">
    <h4>
      Intro
    </h4>

    <p>
      Se non hai voglia di leggerti tutto il papiro, leggi le sezioni più importanti, quali
      <strong><a href="#Oggetti">OGGETTI</a></strong>,
      <strong><a href="#Azioni">AZIONI</a></strong> e
      <strong><a href="#Consigli">CONSIGLI</a></strong>.
      <br> E comunque ricorda... questo è un gioco: <strong>divertiti!</strong>
    </p>

    <p>
      Una guida completa, ben fatta, con immagini ecc... la puoi trovare
      <strong><a href="http://goo.gl/v9OSbr">[QUI] (Smurfing Lessons)</a></strong>
    </p>
  </div>

  <div class="box">
    <h4>
      Il gioco
    </h4>

    <p>
      Ingress è un gioco di realtà aumentata, sviluppato da Niantic (collegata in qualche modo alla Google). E' uno dei
      pochi giochi basati su GPS realmente fatti bene, anche se su questo "bene" c'è veramente da discutere. Sì, non
      hai letto male: per giocare a Ingress ti devi alzare dal tuo comodo divano e uscire di casa. Devi conquistare
      posti strategici, per far vincere la tua squadra (Resistenza, spero).
    </p>


    Hai scaricato Ingress? Benissimo. Il tuo telefono ora è diventato uno scanner, ufficialmente correlato con
    Ingress. Attraverso il tuo cellulare agirai in questo nuovo mondo di realtà aumentata. Nello scanner potrai
    interagire tra varie schermate di gioco. La prima sarà ovviamente la mappa, dove potrai vedere tutto il mondo che
    ti circonda. Da li potrai interagire con tutto.

    <img src="../../../assets/images/ingress-screen.png" /><br />

    Dal menù puoi accedere a varie schede:

    <ul>
      <li class="flex horizontal start-aligned">
        <div>inventory</div> In parole semplici, il tuo inventario. Qui vedrai tutti gli oggetti da te posseduti.
      </li>
      <li class="flex horizontal start-aligned">
        <div>agent</div> Il tuo profilo; verrai a conoscenza delle statistiche e medaglie ottenute durante il gioco.
      </li>
      <li class="flex horizontal start-aligned">
        <div>intel</div> Schermata che riassume i punteggi globali e regionali (quindi, di una cella). Utile per
        vedere chi sta vincendo attualmente, cioè, chi ha piu "Mind Unit" (MU) catturate.
      </li>
      <li class="flex horizontal start-aligned">
        <div>missions</div> Permette di accedere alle missioni più vicine disponibili. Le missioni sono belle da
        fare, ma non portano alcun vantaggio nel gioco.
      </li>
      <li class="flex horizontal start-aligned">
        <div>training</div> Un piccolo tutorial. Sinceramente, non spiega molto.
      </li>
      <li class="flex horizontal start-aligned">
        <div>recruit</div> Scheda che ignoro altamente; permette di inviare SPAM ai tuoi amici per invitarli a
        giocare a Ingress (a sto punto diglielo a voce, no?)
      </li>
      <li class="flex horizontal start-aligned">
        <div>community</div> Scheda che ignoro altamente; permette di accedere a varie pagine connesse a Ingress,
        quali G+, Facebook ecc...
      </li>
      <li class="flex horizontal start-aligned">
        <div>passcode</div> Ogni tanto su internet/chat girano dei "Passcode": codici che, inseriti in quella scheda,
        permettono di ottenere alcuni oggetti gratis.
      </li>
      <li class="flex horizontal start-aligned">
        <div>device</div> Sono le impostazioni del gioco.
      </li>
    </ul>
  </div>

  <div class="box">
    <h4 id="Oggetti">
      Oggetti
    </h4>

    <p>
      Quasi tutti gli oggetti dei gioco variano dal livello 1 al livello 8. Ovviamente, più sale di livello, più è
      potente. Alcuni oggetti non hanno un livello. Avranno quindi un indicatore di "rarità": COMMON (comune), RARE
      (raro) e VERY RARE (molto raro).
    </p>

    <ul>
      <li class="flex horizontal start-aligned">
        <div>Resonator</div> Cariche, che matengono attivo un portale. Più è alto il livello, più carica hanno.
      </li>

      <li class="flex horizontal start-aligned">
        <div>XMP</div> Bombe, la cui onda d'urto si propaga in cerchio. Più è alto il livello, maggiore è il danno e il
        raggio.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Ultra Strike</div> Bombe di precisione, di cortissimo raggio ma concentrata potenza. Servono più che altro
        per spaccare scudi/mod o resonator, quando qualcuno dall'altra parte ricarica.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Power Cubes</div> Quando sei a corto di XM, usa pure un cubo per ricaricarti. Un cubo speciale chiamato
        LAWRSON permette di triplicare la tua barra di XM: è un oggetto raro, quindi usalo solo in caso di necessità.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Portal Key</div> Chiave di un portale. Essenziale e preziosa in alcuni casi, inutile in altri.
      </li>

      <li class="flex horizontal start-aligned">
        <div>ADA Refactor</div> Virus, oggetto molto raro nel gioco. Usando un ADA su un portale verde, esso diventa
        automaticamente BLU, mantenendo tutte le mod/resonator intatti, e mettendo il tuo nome sul portale. I
        link/field connessi si rompono, ma non danno esperienza.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Jarvis Virus</div> Virus, oggetto molto raro nel gioco. Usando un JARVIS su un portale blu, esso diventa
        automaticamente VERDE, mantenendo tutte le mod/resonator intatti, e mettendo il nome __JARVIS__ sul portale. I
        link/field connessi si rompono.
      </li>

      <li class="flex horizontal start-aligned">
        <div>Capsule</div> Utili per contenere chiavi e oggetti. Non incrementano la capacità dell'inventario; è solo
        un modo per organizzarlo. Avendo una chiave dentro la capsula puoi pescarne un altra da un portale, dopo un
        hack. Non puoi infatti prendere un'altra chiave di un portale, se ne hai già una nell'inventario: o la butti
        per terra, o nella capsula.
      </li>

      <li class="flex horizontal start-aligned">
        <div>MUFG Capsule</div> Variante della capsula stessa, permette di contenere 100 oggetti e di moltiplicarli
        dopo un certo periodo di tempo. Basta avere spazio a sufficienza sia per non superare la capacità sia
        l'inventario, sia della capsula stessa (viene consigliato di tenere 90 oggetti nella capsula e avere spazio
        libero in inventario, generalmente).
      </li>
    </ul>
  </div>


  <div class="box">
    <h4 id="Oggetti">
      Mods
    </h4>

    <p>
      Mod sono particolari item che permettono di aumentare delle capacità di un portale. Possono essere di diversa
      "rarità".
    </p>

    <ul>
      <li class="flex horizontal start-aligned">
        <div>Resonator</div> Cariche, che matengono attivo un portale. Più è alto il livello, più carica hanno.
      </li>

    </ul>
  </div>

</div>