.outer-box {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: transparent;
    background: #2b57a1;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;

    box-shadow: 0 1px 3px rgba(0,0,0,0.30);

    & > * {
        width: 100%;
    }
}

.inner-box {
    height: 100%;
    width: 100%;
    border-radius: inherit;

    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }

    &:active {
        background: rgba(0, 0, 0, 0.06);
    }
}

.title {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-variant: small-caps;
}

@media only screen and (min-width: 800px) {
}