@import "../../common/common-style.scss";

.outer-box {
    border-radius: inherit;
    background: transparent;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;

    & > * {
        width: 100%;
    }
}

.inner-box {
    border-radius: inherit;
    padding: 20px;

    &:hover {
        //background: rgba(255, 255, 255, 0.2);
        background: rgba(0, 0, 0, 0.05);
    }

    &:active {
        //background: rgba(255, 255, 255, 0.3);
        background: rgba(0, 0, 0, 0.1);
    }
}

.title {
    color: black;
    text-align: center;
    font-size: 1.2em;
    font-variant: small-caps;
}

@media only screen and (min-width: 800px) {
    .inner-box {
        padding: 40px;
    }
}