<div class="flex vertical container">
  <div class="middle">
    <div class="flex vertical">
      <h1>Martinocom's</h1>
      <span class="subtitle">Just take it easy, dude! It's all about flexbox!</span>
    </div>

    <div class="flex menu">
      <app-square title="Ingress" id="first" routerLink="/ingress" routerLinkActive="active"></app-square>
      <app-square title="Verità su ZioPixel" id="second" routerLink="/ziopixel" routerLinkActive="active"></app-square>
      <app-square title="Università" id="third" routerLink="/universita" routerLinkActive="active"></app-square>
      <app-square title="Banane" id="fourth" routerLink="/banane" routerLinkActive="active"></app-square>
    </div>
  </div>
</div>