<div class="flex vertical container">

  <div class="flex vertical middle">
    <h1>Martinocom's</h1>
    <span class="subtitle">Just take it easy, dude! It's all about flexbox!</span>
  </div>

  <div class="flex horizontal spaced buttons">
    <app-circle title="Ingress" size="70" routerLink="/ingress" routerLinkActive="active" id="first">
      <img src="./assets/images/ingress-logo.png" />
    </app-circle>

    <app-circle title="ZioPixel" size="70" routerLink="/ziopixel" routerLinkActive="active" id="second">
      <img src="./assets/images/ziopixel-logo.png" />
    </app-circle>

    <app-circle title="Università" size="70" routerLink="/universita" routerLinkActive="active" id="third">
      <fa class="white" name="university"></fa>
    </app-circle>

    <app-circle title="Telegram" size="70" routerLink="/telegramVSothers" routerLinkActive="active" id="fourth">
      <fa class="white" name="paper-plane-o"></fa>
    </app-circle>

    <app-circle title="Banane" size="70" routerLink="/banane" routerLinkActive="active" id="fifth">
      <fa class="white" name="eye"></fa>
    </app-circle>
  </div>
</div>