<app-navigator title="Verità su ZioPixel"></app-navigator>

<div class="page-container">
  <h3>
    Le verità su ZioPixel
  </h3>

  <div class="search-box">
    <input type="text" placeholder="Parola o tag da ricercare nelle verità" (keyup)="onKey($event)">
  </div>

  <ul class="page-list info" *ngIf="!isAllOk">
    <li class="error" *ngIf="isLoading">
      <fa class="blue" name="spinner" animation="spin"></fa> Caricamento delle verità...
    </li>
    <li class="error" *ngIf="isEmpty">
      <b>Nessuna verità trovata!</b><br />
      <i>
        Assicurati di aver digitato correttamente il testo ricercato o la parola chiave: ricorda che funziona bene con
        parole intere!
        Se ti manca un riferimento, o vuoi aggiungere una nuova parola chiave, segnalamelo!
      </i>
    </li>
    <li class="error" *ngIf="isError">Qualche profano ha disturbato la comunicazione, riprova!</li>
  </ul>

  <ul class="page-list" #pageList *ngIf="isAllOk">
    <li class="flex horizontal start-aligned" *ngFor="let fact of facts">
      <div class="fact-id"><b>{{fact.id}}</b></div>
      <div>
        <div class="inline-div" *ngIf="fact.html != ''" [innerHTML]="fact.html"></div>
        <div class="inline-div" *ngIf="fact.html != ''">{{fact.html}}</div>
        <span *ngIf="!fact.html">{{fact.text}}</span>
      </div>
    </li>
  </ul>

  <div class="box" *ngIf="facts.length < 5 && isAllOk">
    <h4>Nota bene!</h4>
    <p>
      <b>Ho trovato poche verità?</b> Assicurati di aver digitato correttamente il testo ricercato o la parola chiave: ricorda che funziona bene con
      parole intere!
      Se ti manca un riferimento, o vuoi aggiungere una nuova parola chiave, segnalamelo!
    </p>
  </div>
</div>