$padding-small: 15px;
$margin-small: 15px;
$padding-big: 50px;
$margin-big: 50px;

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100% !important;
    min-height: 100% !important;
    background: #F3F6FA;
}

.no-scroll {
    overflow: hidden;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, li, span {
    color: #404040;
}

.white {
    color: white;
}

:focus, :active {
    outline: 0 !important;
}

a {
    color: #5787da;

    &:hover {
        color: #6c9ff8;
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;

    &.spaced {
        justify-content: space-between;
    }

    &.stretched {
        align-content: stretch;
        align-items: stretch;
        justify-content: stretch;
    }

    &.horizontal {
        flex-flow: row;
    }

    &.vertical {
        flex-flow: column;
    }

    &.start-aligned {
        justify-content: flex-start;
    }

    &.end-aligned {
        justify-content: flex-end;
    }

    &.wrapped {
        flex-wrap: wrap;
    }
}

h1, .subtitle {
    color: #1a1a1a;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 20px;
    display: none;
}

h1 {
    font-size: 3em;
}

h2 {
    margin-bottom: 5px;
}

h4 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #464646;
    font-variant: small-caps;
    font-weight: 600;
}

.subtitle {
    font-style: italic;
    font-size: 1em;
    margin-bottom: 10px;
}

.box {
    background: white;
    padding: $padding-small;
    margin: 15px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}


.page-list {
    list-style: none;
    border-radius: 5px;
    padding: 0px;
    padding-bottom: 20px;
    margin: 0px;

    & li {
        background: white;
        padding: 2%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 1px;
    }
}

.chute {
    border-radius: 25px;
    width: 99px;
    height: 105px;
    background-image: url("assets/images/small-banana.gif");
    position: absolute;
    opacity: 1;

    &.small {
        width: 45px;
        height: 52px;
        background-size: 100%;
    }
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 4em;
    }

    h3 {
        display: block;
        font-size: 2em;
        text-align: center;
        color: rgb(124, 128, 129);
        font-weight: 300;
        font-variant: small-caps;
    }

    .subtitle {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .page-container {
        margin: $margin-small;
        margin-left: auto;
        width: 90%;
        margin-right: auto;
    }

    .page-list {
        border: 1px solid lightgray;
        background: white;

        & li {
            background: none;
            padding: $padding-small;
            margin: 0;
            margin-left: 30px;
            margin-right: 30px;
            border-bottom: 1px solid lightgray;
        }
    }

    .box {
        margin-top: $padding-big;
        border: 1px solid lightgray;
        padding: $padding-big;
        padding-top: $padding-big/1.5;
        padding-bottom: $padding-big/1.5;
    }
}

@media only screen and (min-width: 1200px) {
    .page-container {
        margin-top: $margin-big;
        width: 70%;
    }

    h3 {
        margin: $margin-big;
    }
}
