html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #FFFFFF;
    height: 100% !important;
    min-height: 100% !important;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
    outline: 0 !important;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;

    &.spaced {
        justify-content: space-between;
    }

    &.stretched {
        align-content: stretch;
        align-items: stretch;
        justify-content: stretch;
    }

    &.horizontal {
        flex-flow: row;
    }

    &.vertical {
        flex-flow: column;
    }

    &.start-aligned {
        justify-content: flex-start;
    }

    &.end-aligned {
        justify-content: flex-end;
    }

    &.wrapped {
        flex-wrap: wrap;
    }
}