
<app-container title="Telegram vs Others">
  <app-box title="Disclamer">
    <p>
      <b>Telegram vs Others</b> è una guerra che ha gli stessi risultati dei <b>Vegan vs Others</b>: completamente
      inutile. Ci saranno sempre persone che
      useranno WhatsApp e quelle che sosterrano che quest'ultimi sbagliano profondamente. Ci saranno sempre persone che
      non capirano le potenzialità di Telegram e quelle
      a cui "basta che funzioni". Ergo non fate la guerra, ma scegliere il meglio per voi.
    </p>

    <p>
      <i>A me la carne piace. Come potrei vivere senza hamburger?</i>
    </p>
  </app-box>

  <app-box title="Info utili">
    <p>
      La tabella sottostante è di puro confronto. Se c'è qualcosa di sbagliato, errato, impreciso o non corretto,
      segnalamelo! Cerco di prendere tutti i punti di debolezza e forza
      di un'app, oggettivamente parlando, anche se la mia preferenza ricade comunque su <b>Telegram.</b> A voi i
      risultati del test.
    </p>

    <p><i>
        Se avete altre app da aggiungere mandatemi un messaggio, .txt, .json, o html già formattato per includere la
        vostra modifica e la aggiungerò. E non credo di matenere aggiornatissimo
        il confronto fino all'ultima novità.
      </i></p>

    <p><i>Ultimo aggiornamento: <b>27/11/2018.</b> alle ore <b>15:33</b></i></p>
  </app-box>

  <app-box isNeutral="true">
    <table>
      <tr>
        <th>Feature</th>
        <th>Telegram</th>
        <th>WhatsApp</th>
        <th>Comment</th>
      </tr>

      <tr>
        <td>Gratis</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Gratis entrambe. Non entro nel merito del <i>'se è gratis il prezzo sei tu/i tuoi dati'</i>. Qui tratto solo
          gli "€".
        </td>
      </tr>

      <tr>
        <td>Open Source</td>
        <td>
          <fa name="question"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Telegram <b>non è Open Source</b>. Lo sono i suoi eventuali derivati che usano le sue API ufficiali.
        </td>
      </tr>

      <tr>
        <td>API</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Telegram può essere usato per costruire bot/app/derivati usando le sue API. Un'esempio perfetto sono Plus
          Messenger e Telegram X.
        </td>
      </tr>

      <tr>
        <td>Multiplatform</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          WhatsApp può avere solo una istanza attiva. Telegram più istanze su dispositivi diversi.
        </td>
      </tr>

      <tr>
        <td>In-app purchases</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Ottimo! Servizi gratis senza aggiunte a pagamento.
        </td>
      </tr>

      <tr>
        <td>Numero telefono non richiesto</td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Entrambe richiedono il numero di telefono per la registrazione.
        </td>
      </tr>

      <tr>
        <td>Telefono nascondibile</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Telegram bada alla privacy: tramite il nick puoi nascondere il tuo numero.
        </td>
      </tr>

      <tr>
        <td>Nickname</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Puoi associare al tuo account un nickname, usabile per contattarti o taggarti.
        </td>
      </tr>

      <tr>
        <td>Messaggi testuali & vocali</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Ci mancherebbe!
        </td>
      </tr>

      <tr>
        <td>Messaggi segreti</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Con telegram puoi fare le chat end-to-end con timer di autodistruzione.
        </td>
      </tr>

      <tr>
        <td>Sticker</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Solo ultimamente WhatsApp si aggiorna. Benvenuto nel 2018!
        </td>
      </tr>

      <tr>
        <td>Formattazione testo</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Corsivo, grassetto, monospazio (e altri tramite bot) disponibili su Telegram!
        </td>
      </tr>

      <tr>
        <td>#HashTags</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          La ricerca è su entrambi, ma solo Telegram la facilita con #hashtags
        </td>
      </tr>

      <tr>
        <td>Chiamate</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Di dubbia qualità su entrambi... Però ci sono
        </td>
      </tr>

      <tr>
        <td>Chiamate di gruppo</td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Di dubbia qualità... Però ci sono
        </td>
      </tr>

      <tr>
        <td>Videochiamate</td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Forse è meglio che non ci sono...
        </td>
      </tr>


      <tr>
        <td>Creazione gruppi</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Ci mancherebbe!
        </td>
      </tr>

      <tr>
        <td>Stato lettura messaggi</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Ci mancherebbe!
        </td>
      </tr>

      <tr>
        <td>Stato lettura messaggi nei gruppi</td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Telegram non è molto chiaro su questo aspetto.
        </td>
      </tr>

      <tr>
        <td>Ricerca di utenti/gruppi</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="times"></fa>
        </td>
        <td>
          Grazie ai nickname posso!
        </td>
      </tr>

      <tr>
        <td>Condivisione file</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="question"></fa>
        </td>
        <td>
          Telegram è molto più aperto per condividere file.
        </td>
      </tr>

      <tr>
        <td>Impostazione stato</td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          <fa name="check"></fa>
        </td>
        <td>
          Su telegram si chiama bio.
        </td>
      </tr>
    </table>
  </app-box>

  <app-box title="Cosa ha Telegram che WhatsApp non ha?">
    <ul>
      <li>
        <b>Bot:</b> Automatizzan una miriade di cose, sono comodi per gestire (o portari divertimento nei) gruppi, sono
        autorizzati per i pagamenti
      </li>

      <li>
        <b>Canali:</b> Pagine tipo "Twitter" dove pubblicare contenuti (messaggi/file) a tutti gli iscritti. Solo admin
        sono autorizzati a postare; non sono disponibili commenti o like,
        ma quest'ultimi possono essere implementati grazie a bot.
      </li>

      <li>
        <b>Personalizzazione:</b> Grazie ai "derivati" come Telegram X o Plus Messeger, Telegram è altamente
        personalizzabile
      </li>

      <li>
        <b>Niente più memoria piena:</b> WhatsApp salva tutto localmente sul cellulare: vi siete mai chiesti dove sono
        finiti i 32GB di memoria libera? Ecco: Telegram salva tutto online
        in maniera sicura.
      </li>

      <li>
        <b>'Nessun' limite per i file:</b> fino ad 1.5GB siete liberi di condividere qualsiasi tipo di file. Che siano
        .zip, .raw, .xml, .json, .txt, .png, .blend o altro ancora non interessa:
        sono file condivisibili!
      </li>

      <li>
        <b>Vero multipiattaforma:</b> stai connesso sul tablet, cellulare, PC e browser contemporaneamente e ricevi in
        tutti
        le notifiche. Puoi usarli tutti comodamente quando vuoi ed avere il pieno controllo
        delle sessioni aperte. Niente codici QR da scannerrizzare
      </li>

    </ul>
  </app-box>

  <app-box title="Cosa WhatsApp ha che Telegram non ha?">
    <ul>
      <li>
        <b>Migliore visualizzazione stato lettura messaggio nei gruppi:</b> sai bene chi e dove è arrivato a leggere il
        tizio X.
      </li>

      <li>
        <b>Utenza:</b> Telegram conta molti meno utenti attivi, anche se in crescita.
      </li>
    </ul>
  </app-box>

  <app-box title="Cosa metto in dubbio in entrambe?">
    <ul>
      <li>
        <b>Sicurezza:</b> benchè entrambe offrono l'autorizzazione a due fattori, chi mi dice che le chat sono sicure? Per caso un metodo criptografico?
      </li>

      <li>
        <b>Utenza:</b> Telegram conta molti meno utenti attivi, anche se in crescita.
      </li>
    </ul>
  </app-box>
</app-container>